@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #575dff;
  color: #fff;
  font-family: "Press Start 2P";
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.btn {
  border: none;
  background-color: #fff;
  color: #575dff;
  padding: 10px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.screen.up {
  margin-top: 200vh;
}

.choose-insect-btn img {
  object-fit: contain;
  height: 50px;
  width: 50px;
}
